
    <link rel="stylesheet" href="css/slider.css">
</head>
<body>
                  
              
<section class="auto-slider">
            <div id="slider">
                <figure>
                    <img src="img/1.jpg" alt="Image">
                    <img src="img/2.jpg" alt="Image">
                    <img src="img/3.jpg" alt="Image">
                    <img src="img/4.jpg" alt="Image">
                    <img src="img/5.jpg" alt="Image">
                    <img src="img/6.jpg" alt="Image">
                </figure>
               <!-- <div class="indicator"></div> -->
    </div>
</section>
    
    
	</body>
</html>